.header{
    background-color: rgb(37, 37, 211);
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    width: 50%;
    padding-top: 33px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 170px;
}
.login-label{
    color: #fff;
    font-size: 11px;
}
.login-controls{
    margin-left: 11px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    color: #9cb4d8;
}
.sub-btn{
    background-color: #4267b2;
    color: #fff;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
}

.sub-btn:hover{
    background-color: red;
}
.left-section{
    width: 50%;
    float: left;
    padding-left: 100px;
    padding-top:  40px;
    height: 100%;
    

}
.righ-section{
    width: 50%;
    float: left;
}
.main-body{
    background-color: rgb(206, 204, 236);
    width: 100%;
    height: 500px;
}
.image{
    width: 300px;
}
.para{
    font-weight: bold; 
    font-size: 21px;
}
.text{
    margin-bottom: 20px;
}
.ass{
    margin-top: 30px;
    margin-right: 10px;
}
.abi{
    margin-right: 10px;
}
.para1{
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}
.para2{
    font-size: small;
    font-weight: bold;
}
.para3{
    font-weight: bold;
}
.para4{
    font-size: small;
}
.para6{
    background-color:green;
    font-weight: bold;
    font-size: large;
    color: #fff;
}
.para5{
    font-size: small;
}
.para5 span{
    color: blue;
}

